.locator{
    width: 90%;
    border: 1px solid black;
    height: 70vh;
    margin: 5vh auto 0px auto;
    overflow: hidden;
    border-radius: 10px;
}

.locatorform{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 10vh auto 0px auto;
}

.locatorform input{
    margin: 0px 10px;
    padding: 4px;
}

.locatorform input ::placeholder{
    font-size: 10px;
    color: red;
}


.btn{
    padding: 5px 10px;
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
}

.btn:hover{
    padding: 5px 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
}


.hide{
    display: none;
}